<div style="height: 10px;"></div>
<div style="width: 100%">
  <div class="align-center">
    <div class="seller-home-container">
      <button class="cart-checkout-button font-2" style="margin: 15px">+ Add Product</button>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <div class="card-product-item seller-item-container">
          <div style="height: 150px;display:flex;">
            <div style="width:3%;"></div>
            <a routerLink="/product/some-title/6054a7a704746012c46e61b6"
              style="height: inherit;width: 22%;min-width: 120px;" class="container-box">
              <img src="/assets/large-1.jpg" alt="">
            </a>
            <div style="width:10px;"></div>
            <div style="min-width:200px;width:37%;display: flex;flex-direction:column;justify-content: space-between;">
              <div>
                <div style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" class="font-2">
                  Main Name</div>
                <div style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" class="font-0">
                  One Line Description</div>
                <div style="height:5px;"></div>
                <div style="display: flex;">
                  <div style="text-decoration: line-through;">&#8377;5600</div>
                  <div style="width: 10px;"></div>
                  <div class="font-3 discount-box">30% off</div>
                </div>
                <div style="font-size: 18px;" class="font-3">&#8377;5000</div>
                <!-- <div style="height: 10px;"></div> -->
                <div class="font-0">Size: S, M, L, XL</div>
              </div>
              <div style="display: flex;margin-bottom: 10px;">
                <button class="cart-action-button font-2">EDIT PRODUCT</button>
                <div style="width: 15px;"></div>
                <button class="cart-action-button font-2">DISABLE PRODUCT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>