<div class="align-center">
    <div style="height: 130px"></div>
    <div class="login-form-container">
        <div class="form-field-container">
            <div class="label">Email:</div>
            <input class="order-form-input-field login-field" type="text" placeholder="Email">
        </div>
        <div class="form-field-container">
            <div class="label">Password:</div>
            <input class="order-form-input-field login-field" type="password" placeholder="Password">
        </div>
        <div class="form-field-container">
            <div class="label">Verify Password:</div>
            <input class="order-form-input-field login-field" type="password" placeholder="Password">
        </div>
        <div style="height: 8px"></div>
        <div class="align-corner">
            <a [routerLink]="'/seller/login'" class="link font-1">Sign In</a>
            <button class="cart-checkout-button login-button">Register</button>
        </div>
        <div class="mt-5 error-message font-1">*Password fields don't match</div>
    </div>
</div>