<!-- <div style="height: 20px;"></div> -->
<div style="width: 100%; display:flex;justify-content: center;">
    <div class="order-success-container">
        <div style="width: 100%;" class="container-box">
            <img src="/assets/order-success-checkmark.gif" alt="Order successful">
        </div>
        <div style="font-size: x-large;text-align: center;" class="font-2">Your order is placed Successfully ...</div>
        <div style="height: 20px;"></div>
        <div class="order-success-text-2 font-1">We have notified you with all the order details in your mailbox.</div>
    </div>
</div>