<div style="height: 40px;"></div>
<div class="align-center">
    <div class="default-width">
        <div class="align-corner">
            <h3>All Data Tables</h3>
        </div>
        <div class="gap"></div>
        <button *ngIf="componentState === 'showTable'" (click)="createDataTable()" class="create-data-table-button">
            <b>&#43;</b> Create Data Table
        </button>
    </div>
    <div class="gap"></div>
    <app-table-creation-form (backToTableView)="backFromTableCreation(message)" *ngIf="componentState === 'createTable'" class="default-width"></app-table-creation-form>
</div>