<div style="height: 40px;"></div>
<div class="align-center">
    <div class="default-width">
        <div class="align-corner">
            <h3>All Data Tables</h3>
        </div>
        <div class="gap"></div>
        <button class="create-data-table-button">
            <b>&#43;</b> Create Data Table
        </button>
        <button style="display: flex;" class="transparent-button vertical-center">
            <span>Create API</span>
            <div class="image-container" style="height: 17px; margin-left: 5px;">
                <img src="../../../assets/play-button.svg" alt="">
                <img src="../../../assets/loading-buffering.gif" alt="">
            </div>
        </button>
    </div>
    <div class="gap"></div>
    <app-table-creation-form></app-table-creation-form>
</div>