<div style="height: 40px;"></div>
<div class="align-center">
    <div class="default-width">
        <div class="align-corner">
            <h3>All Data Tables</h3>
        </div>
        <div class="gap"></div>
        <button class="create-data-table-button">
            <b>&#43;</b> Create Data Table
        </button>
        <button style="display: flex;" class="transparent-button vertical-center">
            <span>Create API</span>
            <div class="image-container" style="height: 17px; margin-left: 5px;">
                <img src="../../../assets/play-button.svg" alt="">
                <img src="../../../assets/loading-buffering.gif" alt="">
            </div>
        </button>
    </div>
    <div class="gap"></div>
    <form [formGroup]="tableCreationForm" class="default-width api-list data-table-form-container">
        <div class="form-field">
            <label>Give your table a name: </label>
            <input formControlName="tableName" class="input-field medium-input" placeholder="Table Name" type="text">
        </div>
        <div class="form-field">
            <label>API key to access table: </label>
            <input formControlName="apiKey" class="input-field medium-input" placeholder="API Key" type="text">
        </div>
        <div class="gap"></div>
        <button (click)="addColumn()" class="transparent-button button-small">+ Add Column</button>
        <div class="gap"></div>
        <div class="column-form-container">
            <div *ngFor="let column of columnFormArray.controls; let i = index;" formArrayName="columnFormArray"
                class="column-form">
                <form [formGroupName]="i">
                    <div class="form-field">
                        <label>Column Name: </label>
                        <input formControlName="columnName" class="input-field medium-input" placeholder="Column Name"
                            type="text">
                    </div>
                    <div class="form-field">
                        <label>Column key: </label>
                        <input formControlName="columnKey" class="input-field medium-input"
                            placeholder="Unique Column Key" type="text">
                    </div>
                    <div class="form-field">
                        <label>Default Value: </label>
                        <input formControlName="defaultValue" class="input-field medium-input"
                            placeholder="Default Value" type="text">
                    </div>
                    <div class="full-width container-box">
                        <button (click)="deleteColumn(i)" class="transparent-button delete-button button-small">Delete
                            Column</button>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>